{{ template "base" . }}


{{ define "title" }}  RPS web - About {{ end }}



{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Wilson Capacho</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quaerat, officiis placeat modi distinctio alias exercitationem doloremque 
                    eligendi, praesentium, error maxime recusandae rem. Quaerat, soluta autem quibusdam voluptate a repellendus.
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quaerat, officiis placeat modi distinctio alias exercitationem doloremque 
                    eligendi, praesentium, error maxime recusandae rem. Quaerat, soluta autem quibusdam voluptate a repellendus.
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quaerat, officiis placeat modi distinctio alias exercitationem doloremque 
                    eligendi, praesentium, error maxime recusandae rem. Quaerat, soluta autem quibusdam voluptate a repellendus.
                </p>

                <ul class="py-3">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">linkendin</a></li>
                    <li><a href="#">Github</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>t


{{ end }}